

body{
  /* margin: 0;
  padding: 0; */
  height: 100vh;
  background-image: url('./assets/PokemonBeach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

h1{
  color: yellow;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}