

body{
  background-image: url('./assets/PokemonBeach.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* img{
  justify-content: center;
  display: flex;
  transform: scale(2);
} */